<div class="container-fluid pt-4 ">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img
        class="img-fluid"
        width="600"
        height="400"
        src="assets/images/contacts.png"
      />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="row h-100">
        <div class="col-12">
          <div class="container">
            <h2>Agenda Angular</h2>
            <p class="text-justify">
              Com a Angenda Angular, você organiza seus contatos de maneira
              fácil e prática!
            </p>
            <a class="btn btn-ngred" routerLink="/login">Começe Já</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="container  ">
                <h2>Organize suas reuniões</h2>
                <p class="text-justify">
                  Você pode criar reuniões com seus contatos e ver a suas próximas reuniões
                </p>
              
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img
        class="img-fluid"
        width="500"
        height="300"
        src="assets/images/meeting.png"
      />
    </div>
  </div>
</div>
